.header
  = render "header"
.content_new
  .content_name
    = image_tag 'edit_name.png'
  .content_text_edit
    %textarea.text-field#text-field{:name => "name", :type => "text"}
  .text_submit-btn
    =link_to "btn"