.header
  .header__box
    .header__box__title
      =link_to toppages_path do
        title
    .header__box__btn-box.flex
      .header__box__btn-box__icon
        = link_to image_tag'user.png'
          
      .header__box__btn-box__icon
        =link_to toppages_new_path do
          =image_tag'text.png'
      .header__box__btn-box__icon
        =link_to pictures_new_path do
          =image_tag'picture.png'
%footer