.header
  .header__box
    .header__box__title
      title
    .header__box__btn-box.flex
      .header__box__btn-box__icon
        user
      .header__box__btn-box__icon
        text
      .header__box__btn-box__icon
        picture
%footer