.header
  .header__box
    .header__box__title
      =link_to toppages_path do
        title
    .header__box__btn-box.flex
      .header__box__btn-box__icon
        =link_to "user"
      .header__box__btn-box__icon
        =link_to toppages_new_path do
          tweet
      .header__box__btn-box__icon
        =link_to pictures_new_path do
          pictue
%footer