.header
  .header__box
    .header__box__title
      aaaaaa
    .header__box__btn-box.flex
      .header__box__btn-box__icon
        user
      .header__box__btn-box__icon
        text
      .header__box__btn-box__icon
        picture

.contents
  .pictuers
    .picture

  .posts
    .post-box
      .post-box__left
      .post-box__text

.form