.header
  .header__box
    .header__box__title
    .header__box__btn-box
      .header__box__btn-box__user
      .header__box__btn-box__post
      .header__box__btn-box__picture

.contents
  .pictuers
    .picture

  .posts
    .post-box
      .post-box__left
      .post-box__text

.footer