.content_new{
width: 100%;
height: 100vh;
margin: 0 auto;
padding-top: 100px;
position: relative;
max-width: 80%;
background: white;
}
.content_name{

height: 130px;
width: 40%;
margin: 50px auto;

}

.content_text{
  overflow: scroll;
  height: 300px;
  width: 50%;
  background: white;
  margin: 0 auto ;
  border: 10px solid thistle;
  border-radius: 5px;
}

textarea{
  height: 100%;
  width: 100%;
}

.text_submit-btn{
height: 70px;
width: 15%;
margin: 50px auto;
// background: palevioletred;
// border: 2px solid palevioletred;
// border-radius: 20px;

}
.content_picture{
  overflow: scroll;
  height: 300px;
  width: 50%;
  margin: 0 auto ;
  border-radius: 5px;
  line-height: 50px;
  margin: 0 auto;
  background: rgb(198, 230, 241);
  border: 5px dashed whitesmoke;
  p{
    color: azure;
    display: inline-block;
    margin-left: 50px;
  }

  img.field-image{
    height: 100px;
    object-fit: contain;
    margin-top: 50px;
    }
  
}
.content_text_edit{
  overflow: scroll;
  height: 300px;
  width: 50%;
  background: white;
  margin: 0 auto ;
  border: 10px solid peachpuff;
  border-radius: 5px;
}

.image_field{
  margin: 0 160px;
  display: none;
}

#img_field{
  height: 100%;
  width: 100%;
}
.preview{
  object-fit: contain;
}

.image_submit{
  margin: 0 40%;
}



.text_submit{
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #f9a9ae;
  width: 120px;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  background: linear-gradient(#fed6e3 0%, #ffaaaa 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
}
.text_submit:active{
  -webkit-transform: translateY(2px);
  transform: translateY(2px);/*沈むように*/
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(#fed6e3 0%, #ffbcbc 100%);/*グラデーションを明るく*/
}

