.header
  = render "tweets/header"
.content_new
  .content_name
    = image_tag 'picture_name.png'
  =form_for(@picture) do |f|
    .content_picture
      =f.file_field :image ,class: 'image_field'
    .text_submit-btn
      = f.submit "SEND",class:'image_submit'
      




