.header
  = render "tweets/header"
.content_new
  .content_name
    = image_tag 'picture_name.png'
  .content_picture
    %textarea.text-field{:name => "name", :type => "text"}
  .text_submit-btn
    =link_to "btn"
  .text_submit-btn
    =link_to "btn"
      




