.contents{
height: 100vh;
overflow: scroll;
margin: 0 auto;
padding-top: 100px;
position: relative;
max-width: 80%;
padding-bottom: 70px;
}

.pictuers{
height: 450px;
border: 20px solid powderblue;
}

.posts{
  height: 100vh;
  background: white;
  position: relative;
}
.post-box{
height: 100px;
width: 80%;
background: cadetblue;
margin-top: 10px;
border-radius: 10px;
border: 2px solid cadetblue;
margin-left: 10%;

&__left{
  height: 100px;
  width: 100px;
  background: cadetblue;
  color: white;
  line-height: 100px;
  text-align: center;
  font-size: 50px;
  float: left;
  border-radius: 10px;
}
&__text{
  height: 80px;
  width: calc(100% - 140px);
  background: white;
  float: left;
  border: 2px solid white;
  border-radius: 5px;
  line-height: 80px;
  margin-top: 8px;
  font-size: 30px;
  font-family: cursive;
}
}


