.contents{
height: 100vh;
overflow: scroll;
margin: 0 auto;
padding-top: 100px;
position: relative;
max-width: 80%;
}

.pictuers{
height: 450px;
border: 20px solid powderblue;
}

.posts{
  height: 100vh;
  background: white;
  position: relative;
}
.post-box{
height: 100px;
width: 80%;
background: cadetblue;
position: absolute;
top: 20px;
left: 10%;
border-radius: 5px;
border: 2px solid cadetblue;

&__left{
  height: 100px;
  width: 100px;
  background: cadetblue;
  color: white;
  line-height: 100px;
  text-align: center;
  font-size: 50px;
  float: left;
}
&__text{
  height: 80px;
  width: calc(100% - 140px);
  background: white;
  float: right;
  position: absolute;
  top: 10px;
  right: 20px;
  border: 2px solid white;
  border-radius: 5px;
  line-height: 80px;
}
}


