.contents{
margin: 0 auto;
padding-top: 100px;
position: relative;
max-width: 80%;
padding-bottom: 70px;
}

.picture{
  height: 100%;
  width: 100%;
}
.posts{
  background: white;
  position: relative;
}

.post-box:hover{
transform: scale(1.1, 1.1);
filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
}

.post-box{
height: 220px;
width: 80%;
background: cadetblue;
margin-top: 20px;
border-radius: 10px;
border: 2px solid cadetblue;
margin-left: 10%;


&__left{
  height: 100px;
  width: 100px;
  background: cadetblue;
  color: white;
  line-height: 100px;
  text-align: center;
  font-size: 50px;
  float: left;
  border-radius: 10px;
  }
&__text{
  height: 200px;
  width: calc(100% - 140px);
  background: white;
  border: 2px solid white;
  border-radius: 5px;
  margin-top: 8px;
  font-size: 18px;
  font-family: cursive;
  overflow: scroll;
  }
}
.post_current-box{
  height: 220px;
  width: 80%;
  background: pink;
  margin-top: 20px;
  border-radius: 10px;
  border: 2px solid pink;
  margin-left: 10%;
  
  
  &__left{
    height: 100px;
    width: 100px;
    background: pink;
    color: white;
    line-height: 100px;
    text-align: center;
    font-size: 50px;
    float: left;
    border-radius: 10px;
    }
  }
.paginate{
  position: absolute;
  left: 40%;
  padding-bottom: 150px;
}