.header{
width: 100%;
height: 100px;
background-color:#EAEAE0;
position: relative;
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 5;

}

.header__box{
  width: 80%;
  height: 80px;
  position: absolute;
  top:10px;
  left: 10%;
}

.header__box__title{
text-emphasis: none;
height: 60px;
width: 40%;
position: absolute;
  top:10px;
font-size: 40px;
line-height: 60px;
float: left;
letter-spacing: 0.15em;
font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
}
.header__box__btn-box{
width: 30%;
height: 60px;

float: right;
margin-top: 10px;

}
.header__box__btn-box__icon{
  // padding: 8px 20px;
  // border: 2px solid #57c3e9;
  // font-size: 14px;
  // border-radius: 3px;
  width: 60px;
  height: 60px;
  margin-left: 10px;
 
}

footer{
  background: #EAEAE0;
  position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    
  }

.user_png:hover{
  cursor: pointer;
  transform: scale(1.1, 1.1);
 }