@import "reset";
.flex{
  display: flex;
}
a{
  color: #00336D;
  text-decoration: none;
  
}
img{
  height: 100%;
  width: 100%;
  object-fit: cover; 
}
@import "header";
@import "contents";
@import "modules/new";
// @import "modules/user";