@import "reset";
.flex{
  display: flex;
}
a{
  color: darkgray;
  text-decoration: none;
}
img{
  height: 100%;
  width: 100%;
  object-fit: cover; 
}
@import "header";
@import "contents";
@import "modules/new";
@import "modules/user";

textarea{
  border: 0px solid #d8d8d8;
  border-radius: 3px;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
}

@import "slick";
@import "slick-theme";
@import "error";

