@import "reset";
.flex{
  display: flex;
}
a{
  color: #00336D;
  text-decoration: none;
  
}
img {
  width: 60px;
  height: 60px;
}
@import "header";
@import "contents";
@import "modules/new";
// @import "modules/user";