.text_error{
  color: rgb(236, 145, 168);
  display: inline-block;
  position: absolute;
  left: 490px;
}

.picture_error{
  color: rgb(236, 145, 168);
  display: inline-block;
  position: absolute;
  left: 400px;
}