.fc-unthemed{
  width: 20%;
}
.fc-view-container{
  font-size: 0.3em;
}

#calendar{
  margin: 0 auto;
}

.fc-sun {
  color: rgb(243, 129, 192);
  background-color: rgb(248, 237, 243);
}

.fc-sat {
  color: rgb(129, 169, 243);
  background-color: rgb(240, 245, 252);
}