.contents_show{
  margin: 0 auto;
  padding-top: 100px;
  position: relative;
  max-width: 80%;
  padding-bottom: 70px;

  &__tweet  {
  margin: 50px auto;
  width: 80%;
  min-height: 100px;
  border-top: 5px dashed rgb(219, 181, 181);
  border-bottom: 5px dashed rgb(219, 181, 181);
  font-size: 20px;
  font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
  }

  &__comment{
    border-bottom: 5px dashed rgb(219, 181, 181);
    width: 80%;
    margin: auto;
   
  }

  &__comments{
    font-family:'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
    border-bottom: 5px dashed rgb(219, 181, 181);
    margin-bottom: 50px;
    &__title{
      margin: 20px 150px;
      font-weight: bolder;
      color: darkgrey;
    }
    &__comment{
      margin: 30px 10px;
      border-bottom: 3px solid rgb(219, 181, 181);
    }
  }
}
.comment_text{
  margin: auto;
  width: 800px;
  height: 200px;
  border: 3px solid #d8d8d8;
  
}
.comment_submit-btn{
  margin-left: 400px;
  display: inline-block;
  margin-bottom: 50px;
}


